.about_item{
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  width: 900px;
  
}

.about_item img {
  width: 450px;
  height: 355px;
}

.about_item .text {
  margin: 0 auto;
  background-image: none !important;
  width: 420px;
 
  margin-left: 80px;
}

.about_item .text h2 {
  font-family: Merienda;
font-style: normal;
font-weight: normal;
font-size: 24px;
text-align: center;
color: #000000;
}

.about_item .text p {
  font-family: Merienda;
font-style: normal;
font-weight: normal;
font-size: 14px;
text-align: left;
color: #000000;
text-shadow: none;
}

.about_item .text span {
font-weight: bold;
font-size: 14px;
}

.about_item .text .price {
  font-weight: bold;
  font-size: 25px;
}

.line {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px !important;
  width: 200px;
  background: none;
  display: flex;
  justify-content: center;
  height: 30px;
}

hr {
  margin-bottom: 35px;
  width: 60px;
  height: 1px;
  border: none;
  background-color: #000000;
}

.line img {
  width: 30px;
  height: 30px;
  margin: 0 25px
}